# Visual Studio artifacts
.vs/
out/
bin/
obj/
*.user
*.suo
*.sln.docstates
*.vcxproj.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# CMake
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Executables
*.exe
*.out
*.app

# Test outputs
output.txt